<!DOCTYPE html>
<html>
<head>
	<title>Task 1</title>
	<link rel="stylesheet" href="static/style.css">
	<style>
		h1 {text-align: center;}
	</style>
</head>
<body>
	<h1>We've got you covered!</h1>
<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3" class="center">
   <TR>
      <TH COLSPAN="2"><BR><H3>TABLE TITLE</H3>
      </TH>
   </TR>
   <TR>
      <TH>Reason For</TH>
      <TH>Link</TH>
   </TR>
   <TR ALIGN="CENTER">
      <TD>Avoid an outing plan.</TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Avoid%20an%20outing%20plan."> Link Text </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD>Chill on a Wednesday.</TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Chill%20on%20a%20Wednesday."> Link Text </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD>Skip a family function.</TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Skip%20a%20family%20function."> Link Text </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD>Buy a dog.</TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Buy%20a%20dog."> Link Text </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD>Go for a party.</TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Go%20for%20a%20party."> Link Text </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD>Buy a new car.</TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Buy%20a%20new%20car."> Link Text </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD>Go for a vacation.</TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Go%20for%20a%20vacation."> Link Text </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD>Bunk classes.</TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Bunk%20classes."> Link Text </a></TD>
   </TR>
</TABLE>

</body>
</html>