<!DOCTYPE HTML>
<html>
	<head>
		<title>Reasons101</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
		
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<div class="inner">
					<span class="icon solid major fa-cloud"></span>
					<h1>Hey, We've got You Covered <br /></h1>
					<br>
					<br>

					<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3" class="center">
   <TR>
      <TH COLSPAN="2"><BR><H3 class="table_title">I Can't Find Reasons For--X</H3>
      </TH>
   </TR>
   <TR>
      <TH class="table_title"><p style="color: rgb(42, 5, 73);">X</p></TH>
      <TH class="table_title"><p style="color: rgb(42, 5, 73);">Link</p></TH>
   </TR>
   <TR ALIGN="CENTER">
      <TD><p style="color: black;">Avoiding an outing plan.</p></TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Avoiding%20an%20outing%20plan."> REASON </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD><Chill style="color: black;">Chilling on a Wednesday.</p></TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Chilling%20on%20a%20Wednesday."> REASON </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD><Skip style="color: black;">Skiping a family function.</p></TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Skiping%20a%20family%20function."> REASON </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD><Buy style="color: black;">Buying a dog.</p></TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Buying%20a%20dog."> REASON </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD><Go style="color: black;">Going for a party.</p></TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Going%20for%20a%20party."> REASON </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD><Buy style="color: black;">Buying a new car.</p></TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Buying%20a%20new%20car."> REASON </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD><p style="color: black;">Going for a vacation.</p></TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Going%20for%20a%20vacation."> REASON </a></TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD><Bunk style="color: black;">Bunking classes.</p></TD>
      <TD><a href = "http://127.0.0.1:5000/question?question=Bunking%20classes."> REASON </a></TD>
   </TR>
</TABLE>
				</div>
			</section>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>